.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
}
/* color pallete
  --main: #e9eafb;
    --bgMain: #2f3030;
    --bgMain: #939794;
    --bgMain: #f3fafb;
  */
/*used i Home component  */
.container {
  --bgMain: #f3f3f2;
  background: var(--bgMain);
  /* min-height: 100vh; */
  display: flex;
  /* comment foe job_box 3 column grid */
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;

  /* Background image css*/
  background-image: radial-gradient(#ddd 1.7px, transparent 0), radial-gradient(#ddd 1.5px, transparent 0);
  background-position: 0 0, 25px, 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
}

.job_box {
  width: 32%;
  display: flex;
  justify-content: center;
  padding-bottom: 18%; /* 32:18, i.e. 16:9 */
  margin-bottom: 2%; /* (100-32*3)/2 */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
}
.job_column {
  display: flex;
  height: 180px;
  width: 33%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
  margin: 30px auto;
  /* min-height: 200px; */
}
/* TEST FLEXBOX CSS */
.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double_column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}
/* TODO : try our nwumoephic css design after V1*/
