/* Global css */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  --bgMain: #f3f3f2;
}

* {
  box-sizing: border-box;
}
:root {
  /* color pallete*/
  --lightGrey: #e9eafb;
  --bg1: #2f3030;
  --bg2: #939794;
  --bg3: #f3fafb;
  /* Dropdown CSS variables*/
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}
/* GRID CSS */
.container {
  background: var(--bgMain);
  min-height: 100vh;
  display: flex;
  /* comment for job_box 3 column grid */
  flex-direction: column;
  align-items: center;

  /* Background image css */
  background-image: radial-gradient(#ddd 1.7px, transparent 0), radial-gradient(#ddd 1.5px, transparent 0);
  background-position: 0 0, 25px, 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
}

.container-items {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  width: 80%;
}
/* This works for now , might change layout later */
#container-top {
  display: flex;
  width: 80%;
  /* align-items: center; */
  margin-top: 12px;
  justify-content: space-evenly;
}
#a {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 70%;
  height: 400px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
  /* fading dots */
  /* position: relative; */
  background: #fff;
  filter: contrast(7);
  --mask: linear-gradient(rgb(0, 17, 255), rgba(0, 0, 0, 0.45));
}
#a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* darker color is further down on page it goes */
  background: radial-gradient(rgb(114, 113, 113), transparent) 0 0/1em 1em space;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  content: "";
}
/* fading dots ends */

#b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; dont need it since i got column flex */
  padding: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
}
/* .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double_column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
} */

/* GRID CSS ENDS */

/* Dropdown CSS*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0;
  border-bottom: var(--border);
}
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* or leave it default on the left*/
}
.nav-item {
  /* calc 80% of nav bar size */
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button {
  --buton-size: calc(var(--nav-size) * 0.5);
  width: var(--buton-size);
  height: var(--buton-size);
  background-color: var(--bg-accent);
  /* makes perfect circle */
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button:hover {
  filter: brightness(1.2);
}
.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}
.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  /* move by 45% */
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);

  border-radius: var(--border-radius);
  padding: 1rem;
  /* hide any child if they overlap this container*/
  overflow: hidden;
  transition: height var(--speed) ease;
}
.menu {
  width: 100%;
}
.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
.menu-item:hover {
  background-color: #525357;
}
.icon-right {
  margin-left: auto;
}
/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
/* Dropdown CSS ends*/

/* TODO :
1 add media qury for mobile 
2try our nwumoephic css design after V1*/
