.extras_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; dont need it since i got column flex */
  padding: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 5px 17.9px rgba(0, 0, 0, 0.072), 0 1.8px 33.4px rgba(0, 0, 0, 0.086), 0 5px 20px rgba(0, 0, 0, 0.12);
  background-color: #dadce1b9;
  /* background-color: #fff; */
  border-radius: 5px;
  min-width: 250px; /*might remove later */
}

.extras_div h4 {
  /* margin-block-end: 0.2em;
  margin-block-start: 0.2em; */
  color: rgba(0, 0, 0, 0.575);
}
